/******************************************
    Version: 1.0
/****************************************** */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {
	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
}
@media (max-width: 767px) {
	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
    #home {
        background: url('/uploads/bgphonebill.png') no-repeat center center !important;
        background-size: cover !important;
        height: 100vh !important;
        width: 100% !important;
    }


	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		margin-top: 300px;
		font-size: 28px;
	}
	.heading p {
		font-size: 18px;
		width: 90%;
		text-align: center;  /* Căn giữa nội dung */
		margin: 0 auto;      /* Căn giữa phần tử theo chiều ngang */
		display: block;      /* Đảm bảo phần tử hoạt động đúng */
	}
	.heading h3 {
		font-size: 14px;
		width: 100%;
		text-align: center;  /* Căn giữa nội dung */
		margin: 0 auto;      /* Căn giữa phần tử theo chiều ngang */
		display: block;      /* Đảm bảo phần tử hoạt động đúng */
	}
	
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	.social-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #f1f1f1;
		text-decoration: none;
		font-size: 20px;
		color: #333;
		transition: background 0.3s ease, transform 0.3s ease;
	}
	.section.wb {
		background-color: #ffffff;
		padding: 70px 0 0 0;
	}
	
	.weather-widget {
		width: 350px;
		height: max-content;
		background-color: #f7f7f7;
		border-radius: 20px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		padding: 20px;
		box-sizing: border-box;
		font-family: sans-serif;
		margin:auto;
		
		margin-bottom: 70px;
	 
	  }
	  .weather-widget form {
		border: 1px solid #ddd;
		display: flex;
		border-radius: 20px;
		justify-content: space-between;
	  }
	  .weather-widget input, .weather-widget button {
		border: none;
		background-color: transparent;
		outline: none;
		padding: 10px;
		box-sizing: border-box;
	  }
	  .weather-widget .result {
		padding-top: 15px;
		text-align: center;
	  }
	  .weather-widget .name {
		font-weight: bold;
		font-size: large;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	  }
	  .weather-widget .temperature img {
		width: 100px;
		filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 0.3));
	  }
	  .weather-widget .temperature figcaption {
		font-size: 2.5em;
	  }
	  .weather-widget .description {
		padding: 5px 0 20px;
		font-size: 1.2em;
	  }
	  .weather-widget ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	  }
	  .weather-widget li {
		background-color: #f78a55;
		color: #fff;
		border-radius: 10px;
		padding: 15px 5px;
		font-weight: bold;
		font-size: small;
	  }
	  .weather-widget li i {
		font-size: 1.5em;
		margin: 10px 0;
		display: block;
	  }
	  .weather-widget li:nth-child(2) {
		background-color: #b56291;
	  }
	  .weather-widget li:nth-child(3) {
		background-color: #48567b;
	  }

	  button#sendMessageButton {
		background: rgb(255, 255, 255);
	}
	button#sendMessageButton:hover {
		background: rgb(5, 5, 5);
	
	}



}